.login{
    width: 100%;
    height: 100vh;
    background-color: #f0f2f5;
    flex-wrap: wrap;

    display: flex;
    align-items: center;
    justify-content: center;
}
.loginWrapper{
    width: 70%;
    height: 70%; 
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
.loginLeft{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.loginRight{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.loginLogo{
    height: 250px;
    width: 250px;
    object-fit: contain;
}
.loginDescription{
    font-size: 24px;
}
.loginBox{
    height: 300px;
    padding: 20px;
    background-color: white ;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.formBox{
    height: 300px;
    background-color: white ;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.loginInput{
    height: 50px;
    border: 1px solid linear-gradient(
      to right,
      hsl(248, 39%, 39%) 0%,
      hsl(248, 39%, 49%) 8%,
      hsl(248, 39%, 39%) 92%,
      hsl(248, 39%, 29%) 100%
    );;
    font-size: 18px;
    padding-left: 20px;
}
.loginInput:focus{
    outline: none;
}

.loginForgot{
    text-align: center;
    color: #1775ee;
}
.loginRegisterBtn{
    width: 65%;
    align-self: center;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #42b72a;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}



.loginBtn {
    position: relative;
    background: transparent;
    padding: 0px;
    border: none;
    cursor: pointer;
    outline-offset: 4px;
    outline-color: deeppink;
    transition: filter 250ms;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  
  .shadow {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: hsl(226, 25%, 69%);
    border-radius: 8px;
    filter: blur(2px);
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
  }
  
  .edge {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    background: linear-gradient(
      to right,
      hsl(248, 39%, 39%) 0%,
      hsl(248, 39%, 49%) 8%,
      hsl(248, 39%, 39%) 92%,
      hsl(248, 39%, 29%) 100%
    );
  }
  
  .front {
    display: block;
    position: relative;
    border-radius: 8px;
    background: hsl(248, 53%, 58%);
    padding: 16px 32px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 1rem;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
  }
  
  .loginBtn:hover {
    filter: brightness(110%);
  }
  
  .loginBtn:hover .front {
    transform: translateY(-6px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
  }
  
  .loginBtn:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
  }
  
  .loginBtn:hover .shadow {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
  }
  
  .loginBtn:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
  }
  
  .loginBtn:focus:not(:focus-visible) {
    outline: none;
  }
  




  


  
  