.topBarContainer {
  height: 55px;
  /* width: 100%; */
  background: linear-gradient(
    to right,
    hsl(248, 39%, 39%) 0%,
    hsl(248, 39%, 49%) 8%,
    hsl(248, 39%, 39%) 92%,
    hsl(248, 39%, 29%) 100%
  );
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 999;
  padding-left: 20px;
  padding-right: 20px;
  /* gap: 30px; */
}
.topBarLogo {
 display: flex;
 justify-content: center;
 align-items: center;
  height: 50px;
  width: 50px;
  object-fit: contain;
  
}

.topBarLeft {
  flex: 3;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}
.userName {
  color: white;
  letter-spacing: 1px;
  font-weight: 300;
}
.topBarCenter {
  flex: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topBarRight {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: white;
}

.topBarImg {
  margin-right: 10px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.drawerLogo {
  cursor: pointer;
  color: white;
}

.topBar {
  flex-wrap: wrap;
  flex: 1;
  display: flex;
  width: 100%;
  gap: 10px;
}

.form button {
  border: none;
  background: none;
  color: #8b8ba7;
}
.form {
  --timing: 0.3s;
  --width-of-input: 100%;
  --height-of-input: 40px;
  --border-height: 2px;
  --input-bg: #fff;
  --border-color: #000;
  --border-radius: 30px;
  --after-border-radius: 1px;
  position: relative;
  width: var(--width-of-input);
  height: var(--height-of-input);
  display: flex;
  align-items: center;
  padding-inline: 0.8em;
  border-radius: var(--border-radius);
  transition: border-radius 0.5s ease;
  background: var(--input-bg, #fff);
}
.input {
  font-size: 0.9rem;
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
}
.form:before {
  content: "";
  position: absolute;
  background: var(--border-color);
  transform: scaleX(0);
  transform-origin: center;
  width: 100%;
  height: var(--border-height);
  left: 0;
  bottom: 0;
  border-radius: 1px;
  transition: transform var(--timing) ease;
}
.form:focus-within {
  border-radius: var(--after-border-radius);
}

input:focus {
  outline: none;
}
.form:focus-within:before {
  transform: scale(1);
}

.reset {
  border: none;
  background: none;
  opacity: 0;
  visibility: hidden;
}
input:not(:placeholder-shown) ~ .reset {
  opacity: 1;
  visibility: visible;
}
.form svg {
  width: 17px;
  margin-top: 3px;
}
